* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.container {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 420px;
    padding: 10px 0px;
}

.button {
    background-color: white;
    border-radius: 25px;
    padding: 10px 20px;
}

.flex_container {
    display: flex;
    justify-content: space-around;

}

.topbar-flex {
    color: white;
    display: flex;
    padding: 10px;
}

.topbar-nav {
    padding: 0px 10px;
}

.container_blue {
    height: 350px;
    padding: 20px 300px;
}

.container_pink {
    color: white;
    max-width: 1800px;
    height: 100%;
    text-align: center;
    margin: 70px;
}
.container_pink h1 {
    margin-bottom: 20px;
}
.container_pink .button {
    display: inline-block;
    margin-top: 20px;
}
#blacktext {
    color: black;
}
#blackbutton {
    background-color: black;
}

/*fine header*/

.text1 h1 {
    font-size: 40px;
    padding-bottom: 10px;
}

.flex_container2 {
    display: flex;
    justify-content: center     ;
}

.image1 {
    
    width: 700px;
    height: 500px;  
}

.text1 {
    padding-top: 30px;
    height: 500px;
    width: 300px;
}

.text1 h1 {
    font-size: 40px;
    padding-bottom: 20px;
}

.flex_container3 {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.container_green {
    width: 1000px;
    margin: auto;
    text-align: center;
}

.container_green h1 {
    font-size: 40px;
    padding: 20px;
}

.container_green h2 {
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
}

.blue {
    background-color: cornflowerblue;
    color: white;
    margin: 0px 400px 10px;
}

.black {
    background-color: rgb(38, 38, 38); 
    padding: 10px 150px;
}

.container_pink2 {
   
    width: 30%;
    padding: 0px 70px;
}

.container_pink2 h2 {
    color: cornflowerblue;
    margin-bottom: 10px;
}

.container_pink2 img {
    height: 10px;
}
.container_pink2 span {
    font-size: 10px;
    color: white;
}

.fontawesome {
    margin-top: 10px;
    color: white;
}

.container_green2 {
    width: calc(60% / 4)
}

.column {
    display: flex;
    flex-direction: column;
}

.column {
    color: white;
    font-size: 10px;
}
.column a {
    padding: 5px;
}

.blue2{
    color: cornflowerblue;
}


.container_black {
    background-color:rgb(38, 38, 38);
    margin: 1px 0px;
    padding: 5px 200px 0px;
}

.flex_container4 {
    display: flex;
    justify-content: space-between;
}

#lastbutton {
    color: white;
    background-color: cornflowerblue;
    border-radius: 25px;
    padding: 5px 20px;
    margin-bottom: 10px;
    
}

